.idea
/target/
/factory/target/
/prototype/target/
/singleton/target/
/proxy/target/
/delegate/target/
/classes/
/08_adpater/target/
/09_decorator/target/
/10_observer/target/
/01_factory/target/
/02_singleton/target/
